div {
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    margin: 0;
}

.top-page {
    margin: 0 250px;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
}


.list {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

ul {
    margin: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d0d1d3;
    font-size: 18px;
}

.face {
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}

.face .text {
    display: flex;
    flex-direction: column;
}

.img-1 {
    display: flex;
    align-items: flex-end;
    margin-right: 125px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
    margin-bottom: 20px;
}

.subtext {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}

.signup {
    width: 100px;
    height: 28px;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    color: #ffff;
    margin-top: 20px;
}

.info {
    background-color: #ffff;
    border: 0px;
    display: flex;
    flex-direction: column;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 45px 0;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin: 0 26%;
}

.info-1 {
    border: 3px solid #3882f6;
    border-radius: 25px;
    height: 170px;
    display: flex;
    width: 170px;
}

.sub-container .text {
    text-align: center;
    padding: 5px;    
    font-size: 16px;
    color: #7d7d7f;
    width: 170px;
    margin-bottom: 75px;
}

.sub-container {
    width: 180px;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 500px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: hsl(215, 28%, 17%);
    width: 821px;
    font-weight: 200;
}

.author {
    width: 821px;
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: 700;
}

.ad {
    height: 400px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad .container {
    width: 1300px;
    height: 180px;
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 150px;
}

.ad .text {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.header-text {
    font-size: 28px;
    font-weight: 700;
    color: #ffff;
}

.container .sub-text {
    font-size: 20px;
    color: #dfdfe0;
}

.ad-button {
    background-color: transparent;
    padding: 8px 35px;
    border: 2px solid #ffff;
    color: #ffff;
    font-size: 20px;
    border-radius: 10px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: #e5e7eb;
    font-size: 18px;
}

span {
    margin: 0 5px;
}